<img id="headerimg" src="http://users.wpi.edu/~ewbwpi/images/projheader.png" alt="EWB members">

<blockquote>
	<h1>Conchan, Ecuador - Project Overview</h1>
    <p>
        
        The rural community of El Cisne de Conchán, located outside the city of Cuenca, Ecuador, is one of many communities that face water poverty. EWB-USA WPI aims to collaboratively solve the community's main concern of improving equitable access to a reliable and safe water source to improve public health and ensure water security. </p>

    <p>
Currently, Conchán does not have a reliable water source because they use a contaminated mountain spring, which is not sufficient even during the wet season. Their current water distribution system uses hoses that do not equally distribute water nor do they prevent further contamination within the system. This unequal distribution means that some homes which do not directly receive water must negotiate steep mountain paths to collect water from a supplemental tank. Additionally, there are two other communities at the base of the mountain that receive water from the same water source, further limiting water to Conchán. 
    </p>
		
</blockquote>