<img id="headerimg" src="http://users.wpi.edu/~ewbwpi/images/projheader.png" alt="EWB members">

<blockquote>

    <h1>Guachtuq, Guatemala - Trip Descriptions</h1>
    Select an option below to learn more about the trips our chapter has taken to Guachtuq, Guatemala.
    <p>
        <select ng-options="trip.title for trip in trips" ng-model="selectedTrip">
        </select>
    </p>
    
    <p>
        <h2>{{selectedTrip.title}}</h2>
        <p>{{selectedTrip.description}}</p>

        <h3>Forms</h3>
        <ul>
            <li ng-repeat="form in selectedTrip.forms">
                <a href="http://users.wpi.edu/~ewbwpi/docs/Pre-Post-Forms/{{form.filename}}" target="_blank">{{form.title}}</a>
            </li>
        </ul>

        <h3>Travel Dates</h3>
        <ul>
            <li>
                {{ selectedTrip.startdate }} - {{ selectedTrip.enddate }}
            </li>
        </ul>
    
        <h3>Travel Team</h3>
        <ul>
            <li ng-repeat="member in selectedTrip.team">
                {{ member.name}} - <i>{{ member.role }}</i>
            </li>
        </ul>
    
        <h3>Photos</h3>
    </p>
</blockquote>