/* HEADERS */

h1 { /* title of the page */
    font-size: 48px;
    font-family: 'Baloo Bhai', cursive;
}

h2 { /* donation tier */
    font: italic bold normal 24px/1 Verdana, Geneva, sans-serif;
}

h3 { /* rewards / donors list */
    font: normal normal normal 16px/1 Verdana, Geneva, sans-serif;
}

/* LIST ITEMS */
li {
    font: normal normal normal 16px Verdana, Geneva, sans-serif;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.background {
    background-color: grey;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}