@font-face {
    font-family: 'SansationRegular';
    src: url('http://users.wpi.edu/~ewbwpi/ANGULAR_EWB/resources/fonts/Sansation_Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}


body {
	font-family: Calibri, Arial;
	margin:0px;
    width: 100%;
	text-align: center;
	font-size: 12pt;
	overflow-x: hidden;
    background-color: #ffffff;
}

.footer{
    background-color:#e3e3e3; 
    padding-top:15px;
    padding-bottom:10px;
    border-bottom:10px solid #333333;
    text-align:center;
    margin-top: 40px;
}

.sangriasocial {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #8acbff;
    text-align: center;
    font-weight: bolder;
}

#sponsors {
	width: 100%;
}

#nav {
	height:90px;
	text-align:bottom;
}

#headerimg {
	width: 100%;
	max-height: 550px;
	display: block;
}

#quote {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: -5px;
	background-color: #095AA6;
	color: #ffffff;
	width: 100%;
	height: 3%;
	text-align: center;
	font-size: 100%;
	vertical-align:middle;
}

@media only screen and  (max-width: 1220px){
	#footer {
	padding-top:20px;
	padding-bottom:20px;
	width: 100%;
	background-image: none;
	background-size: 575px auto;
	background-color:#b5cde4;
	background-repeat: no-repeat;
	background-position: 110% 10%;
	}
	
//	.flex-item {
//		margin-right: 0px;
//		margin-left: 0px;
//		width:100%;
//		max-width: none;
	}
}

.flex-container-nav {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  -webkit-align-content: center; /* Safari */
  align-content:         center;
  -webkit-align-items: flex-end; /* Safari */
  align-items:         flex-end;
}

.flex-container-sponsors {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  -webkit-align-content: center; /* Safari */
  align-content:         center;
  -webkit-align-items: flex-end; /* Safari */
  align-items:         flex-end;
}

.flex-container-home {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  -webkit-align-content: center; /* Safari */
  align-content:         center;
  background-color: #ffffff;
  -webkit-align-items: baseline; /* Safari */
  align-items:         baseline;
}

.flex-item-home {
  -webkit-flex-grow: 1; /* Safari */
  flex-grow:         1;
  text-align: center;
  background-color: #e4e4e4;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-top: 5px solid #333333;
}

@media only screen and  (min-width: 1220px){
.flex-item-home:nth-child(odd) { margin-right: 15px; }
.flex-item-home:nth-child(even) { margin-left: 15px; }

.flex-item-home {
    max-width: 44%;
    min-width: 250px;
    max-height: 750px;
    overflow-y: auto;
}
}

a.nav {
	color: #333333;
	text-decoration:none;
	font-size:20px;
	text-transform:uppercase;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align:bottom;
}

a.nav:hover {
	color:#008FFF;
}

@media only screen and  (max-width: 950px){
    .flex-item-nav{ 
        margin-top:20px; 
    }
    .flex-item-nav {
        width:100%;text-align: center;
    }
}

.separator {
	margin-left:2px;
	margin-right:2px;
}

#announce {
	background-color:#333333;
	margin-top:0px;
	padding:15px;
}

h1 {
font-weight: 900;
font-size: 20px;
padding: 0px;
text-transform: uppercase;
}

h2 {
font-weight: 900;
font-size: 16px;
padding: 0px;
text-transform: uppercase;
color:#095aa6;

}

h3 {
font-weight: 900;
font-size: 15px;
padding: 0px;
text-transform: uppercase;
}

#title {
	background-color:#8c944d;
	width: inherit;
	text-align:left;
	padding-left: 7.5%;
	margin-top:0px;
}

blockquote {
	text-align:left;
	width: 80%;	
	margin: 0 auto;
}

a {
	color:#095AA6;
	text-decoration:none;
}

td {
vertical-align: top;
padding-bottom:5%;
}

td.bottom {
	width: 31%;
}

img.bottom {
	width:100%;
}

.content {
	width:100%;
	margin-top:30px;
}

<!--table styles-->
table { width:100%; }
td.name {width:30%; }
td.role { width:70%; }
td.left { width:20%; padding: 5px 20px 5px 0px; vertical-align:middle;}
td.right { width:80%; padding: 5px 0px 5px 0px; vertical-align:middle;}

hr { background-color: #095aa6; height: 1px; border: 0; }