<div id="footer"><br />
	<h3 style="margin-bottom:0px">Contact Us:</h3>
	<a href="mailto:ewb-execs@wpi.edu">Email</a> | 
	<a href="https://www.facebook.com/ewbusawpi?fref=nf">Facebook</a> |
	<a href="https://twitter.com/wpiewb">Twitter</a><br /><br />
	&copy; 2013 - 2015 Engineers Without Borders USA-WPI<br />
	100 Institute Road, Worcester, MA 01609<br /><br />
	Members Only: <a href="http://users.wpi.edu/~ewbwpi/blog/manage/">Manage Blog</a><br /><br />
</div> 
<div id="sponsors">
	<h3 style="margin-bottom:0px;">Thank you to our sponsors!</h3>
	<img src="http://users.wpi.edu/~ewbwpi/images/sponsors2014.jpg" style="width:100%; max-width:800px;" alt="EWB-USA WPI sponsor logos"></div>
</div>