<hr class="footer-divider">
<blockquote style="padding-top:0px">
    <h3>Thank you to our sponsors!</h3>

    <div id="sponsors" style="margin-bottom:30px;" ng-controller="footerController" class="flex-container-nav">
        <div class="flex-item-sponsors" ng-repeat="sponsor in sponsors"  style="list-style:none;display:inline;">
            <a href="{{sponsor.url}}"><img src="resources/images/sponsors/{{sponsor.filename}}" height="50px"></a>
        </div>
    </div>

    <div class="flex-container-nav">
        <div class="flex-item-nav">
            &copy; 2013 - 2015 Engineers Without Borders USA-WPI
        </div>

        <div class="flex-item-nav">
           <a href="mailto:ewb-execs@wpi.edu">Email</a> | 
           <a href="https://www.facebook.com/ewbusawpi?fref=nf">Facebook</a> |
           <a href="https://twitter.com/wpiewb">Twitter</a>
        </div>
    </div> 
</blockquote>