<div class="footer">
    <p>&copy; 2013 - 2015 Engineers Without Borders USA-WPI <br />
        100 Institute Road, Worcester, MA 01609
    </p>
    <p>
        <a href="mailto:ewb-execs@wpi.edu"><img src="resources/images/email.png"></a>
        <a href="https://www.facebook.com/ewbusawpi?fref=nf" target="_blank"><img src="resources/images/facebook.png"></a>
        <a href="https://twitter.com/wpiewb" target="_blank"><img src="resources/images/twitter.png"></a>
    </p>
</div> 

<blockquote style="padding-top:15px">
    <h3>Thank you to our sponsors!</h3>
    <div id="sponsors" style="margin-bottom:30px;" ng-controller="footerController" class="flex-container-nav">
        <div class="flex-item-sponsors" ng-repeat="sponsor in sponsors"  style="list-style:none;display:inline;">
            <a href="{{sponsor.url}}"><img src="resources/images/sponsors/{{sponsor.filename}}" height="50px"></a>
        </div>
    </div>
</blockquote>
