<img id="headerimg" src="http://users.wpi.edu/~ewbwpi/images/getinvheader.png" alt="EWB members">
<blockquote>
	<h1>Interested in EWB-WPI?</h1>
	Here are the ways to get involved:
	<h2>Students:</h2>
	Attend weekly meetings and request to be added on to the mailing list. Email ewb-execs@wpi.edu for more information or check us out on <a href="https://orgsync.com/40504/chapter">TechSync</a>.
	<br /><br />

	<div style="text-align:center;">
		<iframe src="https://onedrive.live.com/embed?cid=63B510766D36B442&resid=63B510766D36B442%213117&authkey=ADAHjwPDGT_5sx8&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
	</div>

	<h2>Professionals:</h2>
	Professionals can join EWB-WPI as mentors. Mentors play a big role in helping us accomplish our projects. If you are interested in one of our projects, please email us. Project mentors might also get a chance to travel with us. Contact us at ewb-execs@wpi.edu.
	For more information about Engineers Without Borders, visit <a href="http://www.ewb-usa.org">Engineers Without Borders USA</a>. 
	<br /><br />
	<div style="text-align:center;">
		<img src="http://users.wpi.edu/~ewbwpi/images/GI1.JPG" style="margin:5px;" alt="">
		<img src="http://users.wpi.edu/~ewbwpi/images/GI2.JPG" style="margin:5px;" alt="">	
	</div>
	<br /><br /><br /><br />