<div id="wrapper">
 	<div id="topbar">
	<p style="background-color:#333333;margin-top:0px;padding:5px;font-size:16px;">
    </p><blockquote>
		<table style="width:100%;">
        <tr>
        <td style="vertical-align:bottom;padding:0px;"><img src="http://users.wpi.edu/~ewbwpi/images/squarelogo.jpg" alt="EWB-USA WPI" usemap="#Map" />
        <map name="Map" id="Map">
    <area alt="" title="" href="http://www.ewb-usa.org" shape="poly" coords="125,89,1,89,1,5,122,2" />
    <area alt="" title="" href="http://www.wpi.edu" shape="rect" coords="125,48,211,86" />
</map>
        </td>
        <td style="vertical-align:bottom;padding:0px 0px 10px 0px;">
    	<div style="float:right">
    		<a href="#/" class="nav">Home</a><span class="separator">/</span>
        	<a href="#about" class="nav">About Us</a><span class="separator">/</span>
        	<a href="#projects" class="nav">Projects</a><span class="separator">/</span>
    		<a href="#getinvolved" class="nav">Get Involved</a><span class="separator">/</span>
        	<!--<a href="#blog" class="nav">Blog</a>/-->
        	<a href="https://ssl.charityweb.net/ewbusa/pfp/january2015trip.htm" class="nav" target="_blank">Donate</a>
    	</div></td></tr></table>
        </blockquote>
    </div>