<div style="border-top: 10px solid #333333; padding-top: 15px;">
<blockquote>
	<div class="flex-container-nav">
        <div class="flex-item-nav"><img src="http://users.wpi.edu/~ewbwpi/images/squarelogo.jpg" alt="EWB-USA WPI" usemap="#Map" />
            <map name="Map" id="Map">
                <area alt="" title="" href="http://www.ewb-usa.org" shape="poly" coords="125,89,1,89,1,5,122,2" />
                <area alt="" title="" href="http://www.wpi.edu" shape="rect" coords="125,48,211,86" />
            </map>
        </div>
        <div class="flex-item-nav">
    		<a href="#/" class="nav">Home</a><span class="separator">/</span>
        	<a href="#about" class="nav">About Us</a><span class="separator">/</span>
			<span class="dropdown" dropdown on-toggle="toggled(open)">
				<a href class="nav" dropdown-toggle>Projects</a>
				<ul class="dropdown-menu">
                	<li class="text"><strong> GUACHTUQ, GUATEMALA </strong></li>
					<li><a href="#Guachtuq-Overview">Overview</a></li>
					<li><a href="#Guachtuq-Trips">Trips</a></li>
					<li><a href="#Guachtuq-Community">Community</a></l1>
				</ul>
			</span>
				<span class="separator">/</span>
    		<a href="#getinvolved" class="nav">Get Involved</a><span class="separator">/</span>
        	<!--<a href="#blog" class="nav">Blog</a>/-->
        	<a href="https://takeaction.ewb-usa.org/worcester-polytechnic-institute-chapter" class="nav" target="_blank">Donate</a>
    	</div>
    </div>
</blockquote>
</div>